<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/style.css"> 
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <p>THis site was created by George Hall using stuff.</p>
        <img class='portrait' src="./images/evern logo.jpg"> 
    </div> 

    {{>footer}}
</body>
</html>